@tailwind base;
@tailwind components;
@tailwind utilities;

form h2{
    font-family: 'Poppins',sans-serif;
    @apply text-[30px] text-center 

   }
   label{
    @apply flex flex-col text-sm mt-5
   }
   input,select,.country,textarea{
    @apply bg-[var(--white)] border border-solid border-[var(--input-border)] w-[100%] h-10 rounded-lg px-2 mt-3  outline-none
   }
   .country input{
    @apply bg-transparent border-0 border-solid border-[var(--input-border)] w-[100%] h-10 rounded-lg px-2 mt-0  outline-none
   }
  .country input:focus{
    border: none;
   }
   
   
   input:focus{
    border: 1px solid var(--yellow);
   }
   input::placeholder{
    @apply text-gray-300
   }

   @layer components {
 

    .form {
      @apply relative w-full lg:max-w-[50%] flex flex-col items-center justify-center m-auto   py-8 rounded-lg transition-all  px-5 h-full lg:overflow-y-auto
    }
  .form h2{
    @apply text-[25px]
  }
  
    .form h4 {
      @apply text-[16px] 
    }
    .active{
      @apply text-[var(--yellow)] font-bold
      
  }
  
  
    
   
  }