@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Signika:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&family=Sora:wght@200;300;400;500&family=Roboto:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  font-family: 'Poppins',sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

.arrow{
  padding-right: 10px;
  animation: row 2s linear infinite;
}

section{
  margin-top: 5rem;
}
.checkout-form input{
  border: 1px solid #a7a6a6 ;
  border-radius: 3px;
  height: 35px;
}

.checkout-form label{
 display: flex;
 flex-direction: column;
 gap: 10px 0;
}
@keyframes row{
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.product-card:hover .add-to-cart-button {
 
 opacity: 1;
  transition: all 0.5s ease-in-out;
}
.add-to-cart-button {
 border-radius: 5px;
  opacity: 0;
  transition: all 0.8s ease-in-out;

}

.partner img{
  object-fit: contain;
  width: 100%;
  filter: drop-shadow(0,0,0,0,gray);
}

.logout {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.90) 29.16%, #E6CCFF 121.77%);
}