.scroll-container {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
   
  }

/*.scroll-container img {
    /* Adjust the width as needed 
   
    margin: 0 10px;
    scroll-snap-align: start;  Adjust the margin as needed 
  }
  */
  .card button{
    opacity: 0;
  }
  .card button:hover{
    opacity: 1;
  }
  .hovered .hidden {
    display: none;
  }